QWidget#UpscModelCard {
    background-color: "#f4efff";
    border-radius: 10px;
}

QLabel#UpscModelCard_m_pNameLbl {
    color: "#000000";
    font-size: 13px;
}

QLabel#UpscModelCard_m_pDescLbl {
    color: "#8c909b";
    font-size: 13px;
}

QLabel#UpscModelCard_m_pBeforeLbl,
QLabel#UpscModelCard_m_pAfterLbl {
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    color: "#ffffff";
    font-size: 12px;
}