QWidget#ConversionView {
    background-color: "#1a1627";
    border-radius: 12px;
}

QWidget#ConversionView_DividingLine {
    background-color: "#272336";
}

QWidget#OutputFormatView {
    background-color: "#211c34";
    border-radius: 8px;
    border: 1px solid #353049; 
}