QWidget#ImportGuide {
    border: 2px dashed "#4a426c";
    border-radius: 8px;
}

QWidget#ImportGuide:hover {
    border: 2px dashed "#703eff";
    background-color: "#272336";
}

QWidget#ImportGuide:pressed {
    background-color: "#333344";
}

QWidget#ImportGuide_DividingLine {
    background-color: "#323242";
}