QWidget#NavbarView {
    background-color: "#242035";
}

#NavbarView_m_pProjectLogo_Text[widget-state='normal'] {
    color:#ffffff; 
    font-size: 24px;
    font-weight: 600;
}

#NavbarView_m_pProjectLogo_Text[widget-state='hover'] {
    color:#ffffff; 
    font-size: 24px;
    font-weight: 600;
}

#NavbarView_m_pProjectLogo_Text[widget-state='pressed'] {
    color:#ffffff; 
    font-size: 24px;
    font-weight: 600;
}