APushButton {
    padding: 5px 10px;
    border: 1px solid rgba(30, 30, 30, 1);
    border-radius: 8px;
    background-color: rgba(30, 30, 30, 1);
    color: #FFFFFF;
}

APushButton:hover {
    background-color: rgba(30, 30, 30, 0.75);
}

APushButton:pressed {
    background-color: rgba(30, 30, 30, 0.45);
}

APushButton:checked {
    border: 1px solid rgba(1, 186, 198, 1);
    background-color: rgba(32, 55, 57, 1);
}

APushButton:disabled {
    background-color: rgba(30, 30, 30, 0.15);
}
